header{
    display:flex;
    align-items:center;
    justify-content: right;
    width: 100%;
    height: 80px;
  position: fixed;
  top: 0; /* Fixa o cabeçalho no topo da tela */
  z-index: 1000;
  
}

.logo{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    max-width:200px;  
    padding-right:25px;  
    transition-duration: 0.4s;
    margin-right:15px;
}

.logo:hover{
    color: #d3d3d3;
    transform: scale(1.1);
}
.favoritos{
    cursor: pointer;
    background-color: white;
    padding: 5px 14px;
    text-decoration: none;
    color: #000;
    border-radius: 4px;
    max-width:200px;
}


/*Menu feito com Chat GPT*/

/*Menu feito com Chat GPT*/

.nav-menu {
    position: fixed;
    top: -900px; /* Altere de -900px para 0 quando quiser exibir o menu */
    width: 100%;
    height: 100%;
    padding-top: 90px;
    transition: 0.5s;
    z-index: 999;
    display:flex;
    flex-direction: column;
}

.nav-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-menu li {
    padding: 15px;
    text-align: center;
}

.nav-menu a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight:700;
}

/* Adicione a classe 'show-menu' para exibir o menu */
.show-menu {
    top: 0;
}

/* Adicione a classe 'shift-content' para mover o conteúdo */
.shift-content {
    margin-top: 0;
}

/* Adicione estilo para as barras do menu quando o menu está aberto */
.menu-btn {
    cursor: pointer;
    display: none;
    flex-direction: column;
    padding: 50px;
    background-color: #6f2b7c93;
    border-radius:100%;
    color: #fff;
    margin-top:25px;
    z-index: 9999; /* Garante que o botão do menu esteja sobreposto ao menu */
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
}

.linksHamb{
    align-items:flex-end;
    height:40%;
    bottom:0;
    display:flex;
    justify-content: center;
}
.linksHamb a{
    font-size:40px;
    padding:10;
    margin:0;
    border-radius:100%;
}
@media only screen and (max-width: 768px) {
    header{
        display:none;
        width:100%;
        font-size:2px;
        background-color: #00000081;
    }
    header a{
        text-align:center;
    }
    .logo{
        font-size:13px;
        padding:0;
        text-align:center;
        font-weight:800;
    }
    .logo a{
        text-align:center;
    }
    .menu-btn{
        display:flex;
        justify-content: center;
        padding:15px; 
        margin-bottom:-80px;   
        width:25px;
    }
    .menuHamb{
        justify-content: center;
        display:flex;
    }
}
#menu {
    
  transition: opacity 0.5s ease;
  }
  
  .hidden {
    opacity: 0;
    pointer-events: none; /* Impede que elementos ocultos sejam clicados */
  }
  .fade {
    opacity: 1;
  }
